---
import Post from '../components/Post.astro';
import Layout from '../layouts/Layout.astro';

const url = `${import.meta.env.PUBLIC_API_URL}/posts?populate=imagen`
const respuesta = await fetch(url);
const {data:posts} = await respuesta.json()
---

<Layout title="Nuestro Blog" description="GuitarLA, Venta de guitarras, blog de música">
	<main class="contenedor">
		<h1 class="heading">Blog</h1>

		<div class="grid">
			{ posts?.map(post => (
				<Post
					titulo={post?.attributes.titulo}
					contenido={post?.attributes.contenido}
					url={post?.attributes.url}
					publishedAt={post?.attributes.publishedAt}
					imagen={post?.attributes.imagen.data.attributes.formats.medium.url}
				/>
			)) }
		</div>
	</main>
</Layout>

<style>

</style>
